/* ctrl + F5 to update css file in browser */
*{
    margin: 0;
    padding: 0;
}

#original-image{
    width: 100%;
    margin: 0;
}

.page{
    height: 100vh;
    background: #fffbd8;
}

.window{
    display: inline-block;
    width: 19.8%;
    height: 33.3%;
}

.image{
    width: 100%;
    object-fit: cover;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.invis{
    display: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
